<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat Web Socket</title>
    <link 
    rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">

</head>
<body>
    <h1>Hola desde Web Sockets</h1>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                    <form>
                            <div class="form-group">
                              <label for="exampleInputEmail1">Mi nombre</label>
                              <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Escribe tu nombre">
                              
                            </div>
                            
                            <button type="button" id="saludar" class="btn btn-primary">Submit</button>
                          </form>
            </div>

            <div class="col-lg-12">
                    <ul class="list-group">
                            
                          </ul>
            </div>
        </div>
<br>
        

    </div>

    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!--Socket io client script-->
<script src="/socket.io/socket.io.js"></script>
<script>
    $(document).ready(function(){
        let socket = io();


        //crear el evento saludar
        $("#saludar").click(()=>{
            //console.log("Hola!");
            let nombre = $("#name").val();

            //socket.emit("channel:saludo","Hola, mi nombre es "+nombre + "!");
            socket.emit("channel:saludo",nombre);
        });

        socket.on("channel:saludo:resp",data =>{
            console.log(data);

            //buscar/ llamar a list group

            let $listGroup = $(".list-group");

            //voy a crear un elemento clase list group item
            let $listgroupitem = $("<li>");

                //le paso una clase
                $listgroupitem.addClass("list-group-item");

                //img
                let $img = $("<img>");
                $img.attr("src",data);

                $listgroupitem.append($img);

                //le paso data como texto
               //$listgroupitem.text(data);

                //append (pasa como hijo) a list group-item para list-group

                $listGroup.append($listgroupitem);

        });
        
    });

</script>

</body>
</html>